name: trigger-tests
on:
  # 1. Permite la ejecución manual desde la interfaz de GitHub Actions.
  workflow_dispatch:
  
  # 2. Se dispara al hacer merge a main
  push:
    branches: [ main ]
    
  # 3. Se dispara cuando hay una Pull Request que tiene como destino la rama 'main'
  pull_request:
    branches: [ main ]

jobs:
  trigger-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Llamar al workflow del repositorio de Playwright
        run: |
          # URL del endpoint: /actions/workflows/<NOMBRE_DEL_ARCHIVO_YAML>/dispatches
          REPO_DESTINO="hgarnacho2/playwright-bdd-ts-tfm"
          WORKFLOW_FILE="ci.yml"
          
          # NOTA: Solo disparamos el workflow al hacer PUSH (merge), 
          # ya que es el evento más seguro y final.
          # Si quisiéramos dispararlo en PR, tendríamos que cambiar 
          # el evento 'on:' por 'push' y hacer la PR contra una rama que no sea 'main'.
          
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PLAYWRIGHT_AUTO }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${REPO_DESTINO}/actions/workflows/${WORKFLOW_FILE}/dispatches \
            -d '{"ref":"main"}'
        env:
          # Es buena práctica inyectar el token como variable de entorno
          # aunque también funciona directamente en el comando curl.
          PLAYWRIGHT_TOKEN: ${{ secrets.PLAYWRIGHT_AUTO }}
