name: trigger-tests
on:
  push:
    branches: [ main ]  # se dispara al hacer merge a main

jobs:
  trigger-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Llamar al workflow del repositorio del fw basado en playwright y ejecutar los tests @regresion
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PLAYWRIGHT_AUTO }}" \
            https://api.github.com/repos/hgarnacho2/playwright-bdd-ts-tfm/actions/workflows/ci.yml/dispatches \
            -d '{"ref":"main"}'




          
